body{
	padding-top: 70px;
	padding-bottom: 70px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
}

.group-list {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Permanent Marker', cursive;
}